- const subTitle = "Stats Tracker";

doctype
html(lang='en')
    head
        include ../Includes/header
        script(src="/JS/Clash Royale/stats.js", defer)
    body
        include ../Includes/navbar
        .jumbotron.text-center.bg-transparent
            h1.display-3 Stats Tracker
            p.coc-description.lead(style="font-size: 28px;") Get data from official game API's!
        .container
            .d-flex.justify-content-center
                #statsModal.accordion.bg-transparent
                    ul.list-group.bg-transparent
                        li.list-group-item.accordion-item(style="background-color: #5E5451; border-radius: 9px; border: 1px solid #181614;")
                            h2#cocHeader.accordion-header
                                .accordion-button.collapsed.no-display-flex#cocOpenModal(type='button', data-bs-toggle='collapse', data-bs-target='#cocCollapse', aria-expanded='true', style="padding: 0; background: transparent;", aria-controls='cocCollapse')
                                    .center-image
                                        img(src="/Images/Clash of Clans.png", style="height: 250px; border-radius: 9px;")
                            #cocCollapse.accordion-collapse.collapse(aria-labelledby='cocHeader', data-bs-parent='#statsModal')
                                .accordion-body#cocBody(style="background: linear-gradient(#8993AD, #6B7798); border-radius: 9px; margin: 1px;")
                                    p.price-item.coc-description Any content here
                        li.list-group-item.accordion-item(style="background-color: #5E5451; border-radius: 9px; border: 1px solid #181614;")
                            h2#bsHeader.accordion-header
                                .accordion-button.collapsed.no-display-flex#bsOpenModal(type='button', data-bs-toggle='collapse', data-bs-target='#bsCollapse', aria-expanded='true', style="padding: 0; background: transparent;", aria-controls='bsCollapse')
                                    .center-image
                                        img(src="/Images/Brawl Stars.png", style="height: 250px; border-radius: 9px;")
                            #bsCollapse.accordion-collapse.collapse(aria-labelledby='bsHeader', data-bs-parent='#statsModal')
                                .accordion-body#bsBody(style="background: linear-gradient(#8993AD, #6B7798); border-radius: 9px; margin: 1px;")
                                    p.price-item.bs Any content here
                        li.list-group-item.accordion-item(style="background-color: #5E5451; border-radius: 9px; border: 1px solid #181614;")
                            h2#crHeader.accordion-header
                                .accordion-button.collapsed.no-display-flex#crOpenModal(type='button', data-bs-toggle='collapse', data-bs-target='#crCollapse', aria-expanded='true', style="padding: 0; background: transparent;", aria-controls='crCollapse')
                                    .center-image
                                        img(src="/Images/Clash Royale.png", style="height: 250px; border-radius: 9px;")
                            #crCollapse.accordion-collapse.collapse(aria-labelledby='crHeader', data-bs-parent='#statsModal')
                                .accordion-body#crBody(style="background: linear-gradient(#8993AD, #6B7798); border-radius: 9px; margin: 1px;")
                                    p.lead#error(style="color: red;")
                                    p.cr-description.lead Please enter a player tag to search a profile!
                                    form(id="playerSearchForm")
                                        .input-group.mb-3
                                            span.input-group-text #
                                            input.cr-description.form-control(name="playerTag", id="playerTag", type="text", placeholder="Player Tag", minlength=8, maxlength=10, style="font-size: 25px;")
                                            button.btn.btn-success(type="submit") #[i.fas.fa-search]
                                    p#loadingScreen(align="center")
                                    #hidingDiv
                                        .container(id="playerContainer")
                        li.list-group-item.accordion-item(style="background-color: #5E5451; border-radius: 9px; border: 1px solid #181614;")
                            h2#bbHeader.accordion-header
                                .accordion-button.collapsed.no-display-flex#bbOpenModal(type='button', data-bs-toggle='collapse', data-bs-target='#bbCollapse', aria-expanded='true', style="padding: 0; background: transparent;", aria-controls='bbCollapse')
                                    .center-image
                                        img(src="/Images/Boom Beach.png", style="height: 250px; border-radius: 9px;")
                            #bbCollapse.accordion-collapse.collapse(aria-labelledby='crHeader', data-bs-parent='#statsModal')
                                .accordion-body#bbBody(style="background: linear-gradient(#8993AD, #6B7798); border-radius: 9px; margin: 1px;")
                                    p.price-item.bb Supercell has no public API for Boom Beach!
        include ../Includes/footer