- const subTitle = "Login";

doctype
html(lang='en')
    head
        include ../Includes/header 
        script(src="/JS/login.js", defer)
    body
        include ../Includes/navbar
        .jumbotron.text-center.bg-transparent
            h1.display-3 #{websiteName} - Login
            p.coc-description.lead(style="font-size: 28px;") Login to your account to access your saved data!
            form(action="/auth/signin", method="POST", style="background-color: #5E5451; border-radius: 9px; border: 1px solid #181614; padding: 12px; margin-top: 30px; margin-bottom: 30px;")
                .container
                    .row(style="margin-bottom: 20px;")
                        .col
                            p.cr-description#internalIssue(style="color: red;") 
                            p
                                label.lead(for="username") Username 
                                p.cr-description#usernameIssue(style="color: red;") 
                                input.cr-description.form-control(type="text", placeholder="Username", name="username", required)
                            p
                                label.lead(for="password") Password
                                p.cr-description#passwordIssue(style="color: red;") 
                                input.cr-description.form-control(type="password", placeholder="Password", name="password", required)
                            button.btn.btn-success(type="submit") Login 
                    .row(style="margin-bottom: 20px;")
                        .col
                            a.muted(href="/forgot-password", style="text-decoration: none;") Forgot your password?
                    .row 
                        .col
                            span New to #{websiteName}? 
                            a(href="/register")
                                button.btn.btn-success(type="button") Register

        include ../Includes/footer