- const subTitle = "Upgrade Tracker";

doctype
html(lang='en')
    head
        include ../Includes/header
        script(src="/JS/Clash of Clans/Upgrade/index.js", defer)
    body
        include ../Includes/navbar
        .jumbotron.text-center.bg-transparent
            h1.display-3 Upgrade Tracker
            p.coc-description.lead(style="font-size: 28px;") Use the Upgrade Tracker to manage your upgrades, make calender notes and more!
        .container    
            .d-flex.justify-content-center 
                p.center-image
                    a(href="/upgrade-tracker/clashofclans")
                        button.btn
                            img(src="/Images/Clash of Clans.png", style="height: 250px; border-radius: 9px;")
                p.center-image
                    a(href="/upgrade-tracker/boombeach")
                        button.btn
                            img(src="/Images/Boom Beach.png", style="height: 250px; border-radius: 9px;")
        include ../Includes/footer
