doctype
html(lang='en')
    head
        include ../Includes/header
        script(src="/JS/Clash of Clans/Upgrade/index.js", defer)
    body
        include ../Includes/navbar
        .jumbotron.text-center.bg-transparent
            img.img-fluid(src='/Images/index.png', size=256, id="image")
            h1.display-3 Upgrade Tracker
            p.coc-description.lead(style="font-size: 28px;") Use the Upgrade Tracker to manage your upgrades, make calender notes and more!
        .container    
            .d-flex.justify-content-center 
                p.center-image
                    a(href="/upgrade-tracker/clashofclans")
                        button.btn.btn-success(style="background-image: url('https://pbs.twimg.com/media/EbQ1oAHXsAIoHUy.jpg:large'); background-size: cover;")
                            img(src="https://1000logos.net/wp-content/uploads/2021/02/Clash-of-Clans-logo.png", style="height: 250px;")
                p.center-image
                    a(href="/upgrade-tracker/boombeach")
                        button.btn.btn-success(style="background-image: url('https://pinata.fi/wp-content/uploads/2020/02/boombeach_thumb.jpg'); background-size: cover;")
                            img(src="https://cdn2.downdetector.com/static/uploads/logo/boombeach_logo_final.png", style="height: 250px;")
        include ../Includes/footer
