- const subTitle = "Upgrade Tracker";

doctype
html(lang='en')
    head
        include ../Includes/header
        script(src="/JS/Clash of Clans/Upgrade/index.js", defer)
    body
        include ../Includes/navbar
        .jumbotron.text-center.bg-transparent
            img.img-fluid(src='/Images/index.png', size=256, id="image")
            h1.display-3 Upgrade Tracker
            p.coc-description.lead(style="font-size: 28px;") Use the Upgrade Tracker to manage your upgrades, make calender notes and more!
        .container    
            .d-flex.justify-content-center 
                p.center-image
                    a(href="/upgrade-tracker/clashofclans")
                        button.btn.btn-success(style="background-image: url('/Images/Clash of Clans Background.jpg'); background-size: cover;")
                            img(src="/Images/Clash of Clans Logo.png", style="height: 250px;")
                p.center-image
                    a(href="/upgrade-tracker/boombeach")
                        button.btn.btn-success(style="background-image: url('/Images/Boom Beach Background.jpg'); background-size: cover;")
                            img(src="/Images/Boom Beach Logo.png", style="height: 250px;")
        include ../Includes/footer
