- const subTitle = "Forgot Password";

doctype
html(lang='en')
    head
        include ../Includes/header
    body
        include ../Includes/navbar
        .jumbotron.text-center.bg-transparent
            h1.display-3 #{websiteName} - Forgot Password?
            p.coc-description.lead(style="font-size: 28px;") Reset your account data here!
            form(action="/auth/signin", style="background-color: #5E5451; border-radius: 9px; border: 1px solid #181614; padding: 12px; margin-top: 30px; margin-bottom: 30px;")
                .container
                    .row(style="margin-bottom: 20px;")
                        .col
                            p
                                label.lead(for="username") Username 
                                input.cr-description.form-control(type="text", placeholder="Username", name="username", required)
                            p
                                label.lead(for="email") E-Mail
                                input.cr-description.form-control(type="email", placeholder="E-Mail", name="email", required)
                            button.btn.btn-success(type="submit") Proceed

        include ../Includes/footer