//- IMPORTANT VALUES (edit in ../../Database/constants.ts too)
- const homeHeroesArray = ["Barbarian King", "Archer Queen", "Grand Warden", "Royal Champion"];
- const homeArmyArray = ["Barracks", "Army Camp", "Laboratory", "Spell Factory", "Dark Barracks", "Dark Spell Factory", "Workshop", "Pet House"];
- const homeDefensesArray = ["Cannon", "Archer Tower", "Clan Castle", "Mortar", "Air Defense", "Wizard Tower", "Air Sweeper", "Hidden Tesla", "Bomb Tower", "X-Bow", "Inferno Tower", "Eagle Artillery", "Giga Tesla", "Scattershot", "Giga Inferno 1", "Builder's Hut", "Giga Inferno 2"];
- const homeTrapsArray = ["Bomb", "Spring Trap", "Air Bomb", "Giant Bomb", "Seeking Air Mine", "Skeleton Trap", "Tornado Trap"];
- const homePetsArray = ["L.A.S.S.I", "Mighty Yak", "Electro Owl", "Unicorn"];
- const homeTroopsArray = ["Barbarian", "Archer", "Giant", "Goblin", "Wall Breaker", "Balloon", "Wizard", "Healer", "Dragon", "P.E.K.K.A", "Baby Dragon", "Miner", "Electro Dragon", "Yeti", "Dragon Rider"];
- const homeDarkTroopsArray = ["Minion", "Hog Rider", "Valkyrie", "Golem", "Witch", "Lava Hound", "Bowler", "Ice Golem", "Headhunter"]; 
- const homeSiegeMachinesArray = ["Wall Wrecker", "Battle Blimp", "Stone Slammer", "Siege Barracks", "Log Launcher"];
- const homeSpellsArray = ["Lightning Spell", "Healing Spell", "Rage Spell", "Jump Spell", "Freeze Spell", "Clone Spell", "Invisibility Spell", "Poison Spell", "Earthquake Spell", "Haste Spell", "Skeleton Spell", "Bat Spell"];
- const homeResourcesArray = ["Elixir Collector", "Elixir Storage", "Gold Mine", "Gold Storage", "Dark Elixir Drill", "Dark Elixir Storage"];
- const homeSuperTroopsArray = ["Super Barbarian", "Super Archer", "Super Giant", "Sneaky Goblin", "Super Wall Breaker", "Rocket Balloon", "Inferno Dragon"];
- const homeDarkSuperTroopsArray = ["Super Minion", "Super Valkyrie", "Super Witch", "Ice Hound"];

- const builderTroopsArray = ["Raged Barbarian", "Sneaky Archer", "Boxer Giant", "Beta Minion", "Bomber", "Baby Dragon", "Cannon Cart", "Night Witch", "Drop Ship", "Super P.E.K.K.A", "Hog Glider"];
- const builderArmyArray = ["Builder Barracks", "Army Camp", "Star Laboratory"];
- const builderDefensesArray = ["Cannon", "Archer Tower", "Double Cannon", "Firecrackers", "Hidden Tesla", "Crusher", "Guard Post", "Air Bombs", "Multi Mortar", "Roaster", "Giant Cannon", "Mega Tesla", "Lava Launcher"];
- const builderResourcesArray = ["Elixir Collector", "Gold Mine", "Elixir Storage", "Gold Storage", "Gem Mine", "Clock Tower"];
- const builderTrapsArray = ["Push Trap", "Spring Trap", "Mine", "Mega Mine"];

- const laboratoryArray = [...homePetsArray, ...homeTroopsArray, ...homeDarkTroopsArray, ...homeSpellsArray, ...homeSiegeMachinesArray, ...builderTroopsArray];