div#footer
    footer.footer
        .container
            .row 
                .col
                    h4 #{websiteName}
                    ul.coc-description(style="padding: 0; font-size: 20px;")
                        li 
                            a(href="/upgrade-tracker") Upgrade Tracker
                        li 
                            a(href="/stats-tracker") Stats Tracker
                        li 
                            a(href="/terms") Terms of Service
                        li 
                            a(href="/privacy") Privacy
                .col
                    h4 Follow us 
                    ul.coc-description(style="padding: 0; font-size: 20px;")
                        li 
                            a(href="/discord", target="_blank") #[i.fab.fa-discord] Discord
                        li
                            a(href="/twitter", target="_blank") #[i.fab.fa-twitter] Twitter
                        li
                            a(href="/facebook", target="_blank") #[i.fab.fa-facebook] Facebook
        p.price-item.coc-description This website is not affiliated with, endorsed, sponsored, or specifically approved by Supercell. Supercell is not responsible for the operation or content of this site/application. Use of the trademarks and other intellectual property of Supercell is subject to Supercell's Fan Kit Agreement.
        p.price-item.coc-description For more information about Supercell, please visit their website 
            a(href="https://supercell.com/", target="_blank") here
            |.
        p(style="color: white;")
            | &copy; 2021 NightClash. All rights reserved.
div#footerBar(style="display: none; line-height: 40px; font-size: 14px; background: linear-gradient(to bottom, rgba(138,217,58,1) 0%,rgba(144,215,55,1) 49%,rgba(66,170,4,1) 50%,rgba(56,169,1,1) 50%,rgba(56,169,1,1) 100%); position: fixed; left: 0; bottom: 0; width: 100%; color: white; text-align: center;") 