div(style="position: relative; overflow: hidden;")
    footer.footer 
        .container
            .row 
                .footer-col 
                    h4 Terms and Service
                    ul 
                        li 
                            a(href="/terms") Terms of Service
                .footer-col
                    h4 Follow us 
                        .social-links 
                            a(href="/supportserver", target="_blank")
                                i.fab.fa-discord
        p(style="color: white;") This web site is not affiliated with, endorsed, sponsored, or specifically approved by Supercell. Supercell is not responsible for the operation or content of this site/application. Use of the trademarks and other intellectual property of Supercell is subject to Supercell's Fan Kit Agreement.
        p(style="color: white;") For more information about Supercell, please visit their website 
            a(href="https://supercell.com/", target="_blank") here
            |.
        p(style="color: white;")
            img.img-fluid(src='/Images/index.png', width=64, height=64) 
            | &copy; 2021 NightClash. All rights reserved.
    link(rel='stylesheet', href='/CSS/footer.css')
div#footerBar(style="display: none; line-height: 40px; font-size: 14px; background: linear-gradient(to bottom, rgba(138,217,58,1) 0%,rgba(144,215,55,1) 49%,rgba(66,170,4,1) 50%,rgba(56,169,1,1) 50%,rgba(56,169,1,1) 100%); position: fixed; left: 0; bottom: 0; width: 100%; color: white; text-align: center;") 