#navbar
  a#logo(href="/") #{websiteName}
  .flexible-inline(style="align-items: center;")
    a.coc-description.nav-link.navbar-link-custom(type="button", href='/upgrade-tracker') #[i.fas.fa-code] Upgrade Tracker
    a.coc-description.nav-link.navbar-link-custom(type="button", href='/stats-tracker') #[i.fas.fa-code] Stats Tracker
    a.coc-description.nav-link.navbar-link-custom(type="button", href="/tools") #[i.fas.fa-tools] Tools
    button.btn.btn-success.cookie-button#sound(type="button", style="height: 50px; width: 50px;", data-sound="false")
        img(src="/Images/sound.png")
    button.btn.btn-success.cookie-button#noSound(type="button", style="height: 50px; width: 50px;", data-sound="true")
        img(src="/Images/no-sound.png")
button#errorModalButton(type="button", data-bs-toggle="modal", data-bs-target="#errorModal", style="display: none;")
.modal.fade#errorModal(tabindex="-1", aria-labelledby="errorModalTitle", aria-model="true", role="dialog")
    .modal-dialog.modal-dialog-centered 
        .modal-content 
            .modal-header 
                h5.modal-title#errorModalTitle
                button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            .modal-body 
                p#errorModalText(style="color: #6A6556;")
            .modal-footer