@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@font-face {
  font-family: "Supercell-Magic";
  src: url("Fonts/Supercell-Magic.eot");
  src: url("Fonts/Supercell-Magic.eot?#iefix") format("embedded-opentype"),
    url("Fonts/Supercell-Magic.woff") format("woff"),
    url("Fonts/Supercell-Magic.ttf") format("truetype"),
    url("Fonts/Supercell-Magic.svg#Supercell-Magic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Clash Text';
  src: url('Fonts/ClashTextRegular.eot');
  src: url('Fonts/ClashTextRegular.eot?#iefix') format('embedded-opentype'),
      url('Fonts/ClashTextRegular.woff') format('woff'),
      url('Fonts/ClashTextRegular.ttf') format('truetype'),
      url('Fonts/ClashTextRegular.svg#ClashTextRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'CCBackBeat';
  src: url('Fonts/CCBackBeat-Light.eot');
  src: url('Fonts/CCBackBeat-Light.eot?#iefix') format('embedded-opentype'),
      url('Fonts/CCBackBeat-Light.woff') format('woff'),
      url('Fonts/CCBackBeat-Light.ttf') format('truetype'),
      url('Fonts/CCBackBeat-Light.svg#CCBackBeat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "BadaBoom BB";
  src: url("Fonts/BadaBoomBB.eot");
  src: url("Fonts/BadaBoomBB.eot?#iefix") format("embedded-opentype"),
    url("Fonts/BadaBoomBB.woff") format("woff"),
    url("Fonts/BadaBoomBB.ttf") format("truetype"),
    url("Fonts/BadaBoomBB.svg#BadaBoomBB") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* MAIN ICON */
#image {
  border-radius: 50%;
  background-image: url("../Images/index.png");
  height: 50px;
}

body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg")
    no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-shadow: 0px 1px black;
  font: 14px/20px "Supercell-Magic";
  -webkit-text-stroke: 1px black;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.jumbotron.text-center.bg-transparent {
  flex-grow: 1;
  min-height: 10vh;
}

/*Fonts*/
.coc-description {
  font-family: "CCBackBeat";
  -webkit-text-stroke: 0;
  text-shadow: none;
  color: #404344;
}
.cr-description {
  font-family: "Clash Text";
  -webkit-text-stroke: 0;
  text-shadow: none;
  color: black;
}
.bs {
  font-family: "Lilita One", cursive;
}
h1.bs {
  font-size: 60px;
}
h3.bs {
  font-size: 35px;
}
p.bs {
  font-size: 20px;
  -webkit-text-stroke: 0;
}
.bb {
  font-family: "BadaBoom BB";
}
p.bb {
  font-size: 24px;
}

/*CUSTOM CSS*/
.lead {
  font-weight: bold;
}
.no-display-flex {
  display: block;
}

table.table.table-striped.table-hover {
  border-radius: 9px;
  background-color: #8892ab;
}

.item-display {
  color: #ffffb7;
}

.no-shadow {
  text-shadow: none;
}

.no-edge {
  -webkit-text-stroke: 0;
}

section.module.container {
  padding: 0;
}

.achievement {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #eeefed;
  border-radius: 5px;
  height: 60px;
  background: -webkit-linear-gradient(
    top,
    rgba(194, 198, 201, 0.8) 0%,
    rgba(176, 181, 187, 0.8) 49%,
    rgba(161, 168, 176, 0.8) 50%,
    rgba(157, 165, 176, 0.8) 100%
  );
}

.price-item {
  color: white;
}

footer {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CONTAINER*/
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/*NAVBAR*/
.nav-link,
.nav-link:hover {
  color: white;
}

a.nav-link.navbar-link-custom {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 20px;
}

#navbar {
  overflow: hidden;
  background-color: #5e5451;
  height: 130px;
  transition: 0.4s;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
  display: inline-flex;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  padding: 50px;
  color: black;
}

/* FOOTER */
#footer {
  overflow: hidden;
  transition: 0.4s;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
  display: inline-flex;
}

.footer {
  background-color: #24262b;
  padding: 30px;
  color: white;
}
#footer footer.footer .container .row .col ul li a {
  text-decoration: none;
}

/* SLIDER */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20%;
  background-color: #71ba30;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
  box-shadow: 0px 1px 10px 1px #40712a;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.slider {
  margin-top: 20px;
}

.slider-image {
  max-width: 100%;
  vertical-align: center;
  display: inline-block;
  height: 55px;
}

/* XP SHOWCASE */
.xp {
  background-image: url("../Images/Clash of Clans/xp.png");
  background-position: center;
  height: 50px;
  width: 50px;
  color: white;
  text-align: center;
  padding-top: 14.5px;
}

/* IMAGE SCALING */
img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.center-image {
  text-align: center;
}

/* TAB SPACE */
.tab {
  text-indent: 50px;
}

/* LOADING SCREEN - ROLLER */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* LOADING SCREEN - ELLIPSIS*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*BUTTONS*/
button:active:hover,
[type="button"]:active:hover,
[type="reset"]:active:hover,
[type="submit"]:active:hover {
  transform: scale(0.9);
}

li.nav-item.categories[type="button"] {
  transform: none;
}

button.btn.builder-button,
button.btn.lab-button {
  border: 1px black solid;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px;
  width: 45px;
  height: 45px;
}

button.btn.builder-button {
  background-image: url("/Images/Clash of Clans/Upgrade.png");
}

button.btn.lab-button {
  background-image: url("/Images/Clash of Clans/Research.png");
}

button.btn.btn-success {
  background: linear-gradient(
    to bottom,
    rgba(138, 217, 58, 1) 0%,
    rgba(144, 215, 55, 1) 49%,
    rgba(66, 170, 4, 1) 50%,
    rgba(56, 169, 1, 1) 50%,
    rgba(56, 169, 1, 1) 100%
  );
}

button.btn.btn-primary {
  background: linear-gradient(#e1e5ff, #bbc3ff, #939eff 51%, #7b89ff);
  border: 3px solid #5f6eff;
}

/*MODAL*/
.modal-content {
  border-radius: 10px;
  border: 10px solid #5e5451;
  background-color: #5e5451;
}

.modal-body {
  background-color: #e8e8e0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #333333;
  align-items: center;
}

.modal-body p {
  text-shadow: none;
  -webkit-text-stroke: 0px;
}

.modal-header {
  background: linear-gradient(#99928e, #7a726f 25%, #5e5451 50%);
  border-bottom: none;
  justify-content: center;
  border: none;
}

.modal-footer {
  background-color: #e8e8e0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
}

h5.modal-title {
  color: white;
}

/*PROGRESS*/
.prg-bar,
.prg-bar-null {
  position: relative;
  width: 250px;
  float: left;
  height: 30px;
  background: linear-gradient(
    to bottom,
    rgba(53, 59, 73, 1) 0%,
    rgba(70, 79, 96, 1) 49%,
    rgba(66, 170, 4, 1) 50%,
    rgba(59, 62, 77, 1) 50%,
    rgba(60, 63, 83, 1) 100%
  );
  color: white;
  border-radius: 3px;
  border: 1px solid #3c3f50;
}

.prg-bar::before,
.prg-bar-null::before {
  content: attr(data-content);
  display: flex;
  white-space: nowrap;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  width: calc(var(--width, 0) * 1%);
  padding: 1em;
  border-radius: 3px;
}

.prg-bar::before {
  background: linear-gradient(
    to bottom,
    rgba(138, 217, 58, 1) 0%,
    rgba(144, 215, 55, 1) 49%,
    rgba(66, 170, 4, 1) 50%,
    rgba(56, 169, 1, 1) 50%,
    rgba(56, 169, 1, 1) 100%
  );
}

/*UNIT ICON*/
.unit-icon {
  margin: 0 2px 2px 0;
  width: 65px;
  height: 65px;
  border: 2px solid #2b2d36;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #767e9a;
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.unit-icon.locked {
  filter: grayscale(100%);
  opacity: 0.8;
}

.unit-icon-level {
  color: #ffffff;
  background-color: #262625;
  bottom: 3px;
  left: 2.5px;
  border-radius: 4px;
  border: 1px solid #23242d;
  width: 22px;
  height: 22px;
  font-size: 13px;
  text-align: center;
  position: absolute;
  box-shadow: 1px 1px 1px white;
}

.unit-icon-level.max {
  background-color: #ffbf5e;
  font-weight: bold;
  border: 1px solid #f9ba57;
  box-shadow: 1px 1px 1px #edd66d;
}

.unit-icon-level.maxTH {
  background-color: #2abae7;
  font-weight: bold;
  border: 1px solid #1c96ad;
  box-shadow: 1px 1px 1px #88d3ff;
}

.flexible-inline {
  display: inline-flex;
}

/*Brawl Stars Map*/
.map {
  margin-right: 15px;
  margin-bottom: 15px;
  transform: skew(-5deg);
  display: inline-block;
  background-color: black;
  border: 2px black solid;
  height: 140px;
  width: 240px;
  padding: 0;
}

.map .timer {
  text-align: right;
  color: #7382a2;
  text-shadow: none;
  -webkit-text-stroke: 0;
}

.map .description {
  border-bottom: 2px solid #0a0a0a;
  border-radius: 0;
  display: flex !important;
}

.map .description img {
  vertical-align: middle;
  height: 45px;
}

.map .description .titles {
  padding-left: 0.5rem !important;
  padding: 8px;
}

.map .description .titles .game-mode {
  color: white;
  text-shadow: 1px 1.5px 0 #000;
  -webkit-text-stroke: 0;
  font-size: 1.5rem;
  text-align: left;
}

.map .description .titles .map-name {
  font-size: 14px;
  text-align: left;
  -webkit-text-stroke: 0;
}

.map .background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 58px;
}

/*Map Colors*/
.map .description.brawl-ball {
  background-color: #8ca0df;
}
.map .description.gem-grab {
  background-color: #9b3df3;
}
.map .description.duo-showdown, 
.map .description.solo-showdown {
  background-color: #81D621;
}
.map .description.showdown-plus {
  background: linear-gradient(#F2CC2A, #E29312)
}
.map .description.knockout {
  background-color: #F7831C;
}
.map .description.hot-zone {
  background-color: #E33C50;
}
.map .description.basket-brawl {
  background-color: #238BFE;
}
.map .description.bounty {
  background-color: #01CFFF;
}
.map .description.siege {
  background-color: #F04F32;
}
.map .description.heist {
  background-color: #D55CD3;
}
.map .description.big-game, 
.map .description.boss-fight,
.map .description.robo-rumble {
  background-color: #DC2422;
}
.map .description .super-city-chaos {
}