- const subTitle = "Admin Access";

doctype
html(lang='en')
    head
        include ../Includes/header
        script(src="/JS/admin.js")
    body
        include ../Includes/navbar
        .jumbotron.text-center.bg-transparent
            h1.display-3 #{websiteName} - Admin Access
            p.coc-description.lead(style="font-size: 28px;") Get stats and data!
            .container(background)
                .row
                    h3 Stats
                    .col
                        p Registered User: 
                            span.cr-description #{userCount}
                .row
                    h3 User Board
                    .col
                        .flexible-inline
                            button.btn.btn-primary(onclick="displayAllUsers();") Display all
                            button.btn.btn-success Create one
                            button.btn.btn-danger Delete one
                            pre
                                code(data-language="javascript")
                .row 
                    h3 Clash of Clans Village Board
                    .col
                        .flexible-inline 
                            button.btn.btn-primary Display all
                            button.btn.btn-success Create one
                            button.btn.btn-danger Delete one
            
        include ../Includes/footer