.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  background-color: #24262b;
  padding: 30px;
  z-index: 99;
  margin-top: 25px;
}
.footer .container .row .col ul li a {
  text-decoration: none;
}