- var subTitle = "Not Found"

doctype
html(lang='en')
    head
        include ../Includes/header
    body
        .jumbotron.text-center.bg-transparent
            h1.display-3 404
            p.lead This site does not exist! Please return to the homepage!
                i.fas.fa-question.pl-2
            a.btn.btn-dark(href='/') Return Home
        include ../Includes/footer