- var subTitle = "Not Found"

doctype
html(lang='en')
    head
        include ../Includes/header
    body
        .jumbotron.text-center.bg-transparent
            h1.display-3 404
            p.coc-description.lead(style="font-size: 28px;") This site does not exist!
            a.btn.btn-dark(href='/') Return Home
        include ../Includes/footer