- var subTitle = "Service Unavailable"

doctype
html(lang='en')
    head
        include ../Includes/header
    body
        .jumbotron.text-center.bg-transparent
            h1.display-3 503
            p.lead Service unavailable
                i.fas.fa-question.pl-2
            a.btn.btn-dark(href='/') Return Home
        include ../Includes/footer