- const description = websiteName + " is a community upgrade and stats tracker for a variety of Supercell Games!";

meta(charset="utf-8")
meta(name="author" content="NightClash")
meta(name="title", content=subTitle)
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description", content=description)
meta(name="keywords" content="coc, cr, bs, bb, clash of clans, clash royale, brawl stars, boom beach, tracker, stats, nightclash, supercell web, night clash")
title #{subTitle} - #{websiteName}
link(rel="shortcut icon" type="image/png" href='/Images/index.png', size=128)

//JQUERY
script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js", crossorigin="anonymous")
//OWN DESIGNS AND SCRIPTS
link(rel="stylesheet", type="text/css", href="/CSS/constants.css")
link(rel="stylesheet", type="text/css", href="/CSS/fonts.css")
link(rel="stylesheet", type="text/css", href="/CSS/basic.css")
link(rel="stylesheet", type="text/css", href='/CSS/main.css')
link(rel="stylesheet", type="text/css", href="/CSS/navbar.css")
link(rel="stylesheet", type="text/css", href="/CSS/footer.css")
script(type="text/javascript", src="/JS/main.js", defer)
//FOMANTIC-UI
script(type="text/javascript", src="/semantic/dist/semantic.min.js", crossorigin="anonymous")
link(rel="stylesheet", type="text/css", href="/semantic/dist/semantic.min.css")
//BOOTSTRAP
script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js", integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT", crossorigin="anonymous")
link(type="text/css", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x", crossorigin="anonymous")
//PRISM
link(rel="stylesheet", type="text/css", href="/CSS/prism/prism.css")
script(type="text/javascript", src="/CSS/prism/prism.js")
//FONTAWESOME
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css', type="text/css")
//LILITIA ONE FONT (FROM GOOGLE)
script(type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap", rel="stylesheet")

audio#clickAudio(src="/Audio/click.mp3")

include mixins