- const subTitle = player.name + " - Overview";

doctype
html(lang='en')
    head
        include ../../Includes/header
    body
        include ../../Includes/navbar
        .jumbotron.text-center.bg-transparent
            img.img-fluid(src='/Images/index.png', size=256, id="image")
            h1.display-3 Upgrade Tracker
            p.lead Use the Upgrade Tracker to manage your upgrades, make calender notes and more!
        .d-flex.justify-content-center
            .container 
                .row 
                    .col
                        .center-image
                            if player.townHallLevel <= 11
                                img(src="/Images/Clash of Clans/Home/Town Hall/" + player.townHallLevel + ".png", style="height: 150px;")
                            else if player.townHallLevel >= 12
                                if player.townHallLevel == 12
                                    img(src="/Images/Clash of Clans/Home/Defenses/Giga Tesla/" + player.townHallWeaponLevel + ".png", style="height: 150px;")
                                else if player.townHallLevel == 13
                                    img(src="/Images/Clash of Clans/Home/Defenses/Giga Inferno 1/" + player.townHallWeaponLevel + ".png", style="height: 150px;")
                                else if player.townHallLevel == 14
                                    img(src="/Images/Clash of Clans/Home/Defenses/Giga Inferno 2/" + player.townHallWeaponLevel + ".png", style="height: 150px;")
                        p(align="center") Town Hall #{player.townHallLevel}
                        .center-image
                            a(href="/upgrade-tracker/clashofclans/" + player.tag.replace(/#/g, "") + "/home")
                                button.btn.btn-success Switch to Home Village 
                    if player.builderHallLevel
                        .col 
                            .center-image
                                img(src="/Images/Clash of Clans/Builder/Builder Hall/" + player.builderHallLevel + ".png", style="height: 150px;")
                            p(align="center") Builder Hall #{player.builderHallLevel}
                            .center-image
                                a(href="/upgrade-tracker/clashofclans/" + player.tag.replace(/#/g, "") + "/builder")
                                    button.btn.btn-success Switch to Builder Base
        include ../../Includes/footer