- var subTitle = "Service Unavailable"

doctype
html(lang='en')
    head
        include ../Includes/header
    body
        include ../Includes/navbar
        .jumbotron.text-center.bg-transparent
            h1.display-1 503
            p.coc-description.lead(style="font-size: 28px;") The service is unavailable!
            a.btn.btn-dark(href='/') Return Home
        include ../Includes/footer